<ion-view view-title="Featured">
  <ion-content class="has-header">
   <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText">
    </label>
    <ion-list >
      <ion-item ng-repeat="featured in data.featured"  
          class="item item-thumbnail-left">
          
          <img ng-src="{{featured.image}}" alt="{{featured.description}}" > 
          <h2>{{featured.name}}</h2>
        <h4>{{featured.description}}</h4>
        
      </ion-item>
  </ion-content>
</ion-view>


